.Rproj.user
.Rhistory
.RData
.Ruserdata
.png
data/*
photo/*
~$DGP.docx
DGP1.xlsx
DGP2.xlsx
DGP3.xlsx
DGP4.xlsx
DGP5.xlsx
DGP6.xlsx
DGP7.xlsx
DGP.docx
DGP1.xlsx
DGP2.xlsx
DGP3.xlsx
DGP4.xlsx
DGP5.xlsx
DGP6.xlsx
DGP7.xlsx
DGP8.xlsx
DGP9.xlsx
table/DGP1_table.xlsx
table/DGP2_table.xlsx
table/DGP3_table.xlsx
table/DGP4_table.xlsx
table/DGP5_table.xlsx
table/DGP6_table.xlsx
table/DGP7_table.xlsx
table/DGP8_table.xlsx
table/DGP9_table.xlsx
*.xlsx
